[Desktop Entry]
Encoding=UTF-8
Name=Telepathy Send To
Name[it]=Invio via Telepathy
Name[nl]=Verzenden door Telepathy
Name[pl]=Wyślij do z Telepathy
Name[pt]=Envio do Telepathy
Name[pt_BR]=Enviar para do Telepathy
Name[sv]=Telepathy skicka till
Name[uk]=Надсилання файлів за допомогою Telepathy
Name[x-test]=xxTelepathy Send Toxx
Comment=A tool to send images to IM contacts
Comment[it]=Uno strumento per inviare immagini a contatti di messaggistica istantanea
Comment[nl]=Een hulpmiddel voor het verzenden van afbeeldingen naar IM-contactpersonen
Comment[pl]=Narzędzie do wysyłania obrazów do kontaktów z komunikatora internetowego
Comment[pt]=Uma ferramenta para enviar imagens para os contactos de MI
Comment[pt_BR]=Uma ferramenta para enviar imagens para contatos do IM
Comment[sv]=Ett verktyg för att skicka bilder till direktmeddelandekontakter
Comment[uk]=Інструмент для надсилання зображень контактам мережі обміну повідомленнями
Comment[x-test]=xxA tool to send images to IM contactsxx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_telepathy
Icon=telepathy-kde
X-KIPI-Mimetypes=image/png,image/jpg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
author=Daniele E. Domenichelli, daniele.domenichelli@gmail.com
